
/*----------------------------------------------
Filter
------------------------------------------------*/

.remark {
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    text-align: center;
    font-family: Arial, SimHei;
    font-size: 24px;
}
.p-font{
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Arial, SimHei;
}



